@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font: 12px sans-serif;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.popover-panel-with-arrow {
  overflow: visible !important;
}

.popover-panel-with-arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid #000;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.progress {
  animation: progress 1s infinite linear;
}

.left-right {
  transform-origin: 0% 50%;
}
@keyframes progress {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
